@import "../../mixins/text-mixins.scss";

.about{
    display: flex;
    height: 1000px;
    align-items: center;
    &__image{}
    &__description{
        width: 100%;
    }
    &__pre-header{
        @include pre-header(#7EB693);
    }
    &__header{
        margin: 15px 0;
        @include header(50px, 800, #274C5B);
    }
    &__text{
        @include text();
    }
    &__cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 46px 0;
        height: 232px;
    }
}